/* This file is for your main application css. */

@import "./phoenix.css";

a[phx-click] {
  cursor: pointer;
}
a[phx-click]:hover {
  text-decoration: underline;
}
a.current_team {
  font-weight: bold;
  color: black;
}

input[type="text"].has-error {
  border-color: red;
}

div.tree-node {
  margin-left: 2.5rem;
  padding: 0.5rem;
}

.toggler, .square {
  background-color: #444;
  color: white;
  width: 2.5rem;
  border: solid 1px #bbb;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
  user-select: none;
}

.toggler[phx-click] {
  cursor: pointer;
  color: #fff;
}

.toggler[phx-click]:hover {
  background-color: #844;
  color: #fff;
}

.command-button[phx-click] {
  cursor: pointer;
}

.command-button[phx-click]:hover {
  color: #a44;
}

form.name-editor {
  display: inline-block;
  margin: 0;
  padding: 0.25rem;
}

form.name-editor input[type="text"] {
  width: auto;
  margin: 0;
}

button[type="button"].cancel {
  background-color: #fff;
  border-color: #444;
  color: black;
}

button[type="button"].danger {
  background-color: #c44;
  border-color: #f44;
  color: white;
}

button[type="button"].cancel:hover {
  background-color: #ccc;
}

del {
  color: #888;
}
