/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

a[phx-click] {
  cursor: pointer;
}
a[phx-click]:hover {
  text-decoration: underline;
}
a.current_team {
  font-weight: bold;
  color: black;
}

input[type="text"].has-error {
  border-color: red;
}

div.tree-node {
  margin-left: 2.5rem;
  padding: 0.5rem;
}

span.toggler, span.square {
  background-color: #444;
  color: white;
  width: 2.5rem;
  border: solid 1px #bbb;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
  user-select: none;
}

span.toggler[phx-click] {
  cursor: pointer;
}

span.toggler[phx-click]:hover {
  background-color: #844;
}
