<div class="tree-node">
  <span class="toggler" phx-click="toggle_group_expanded" phx-value="<%= @group.uuid %>">
    <%= if @group.expanded, do: fa_icon("angle-down"), else: fa_icon("angle-right") %>
  </span>
  <%= @group.name %>
  <%= if @group.expanded do %>
    <%= for group <- @group.subgroups do %>
      <%= render "group.html", group: group %>
    <% end %>
    <%= for member <- @group.members do %>
      <%= render "member.html", member: member %>
    <% end %>
  <% end %>
</div>
