<h2>List of teams</h2>

<ul>
  <%= for team <- @teams do %>
    <li>
      <%
        class =
          if @team_editor && team.id == @team_editor.team.id,
            do: "current_team", else: ""
      %>
      <a phx-click="select_team" phx-value-team-id="<%= team.id %>" class="<%= class %>">
        <%= team.name %>
      </a>
    </li>
  <% end %>
</ul>
