<h1>List of teams</h1>

<ul>
  <%= for team <- @state.teams do %>
    <li>
      <% class = if team == @state.selected_team, do: "current_team", else: "" %>
      <a phx-click="select_team" phx-value="<%= team.id %>" class="<%= class %>">
        <%= team.name %>
      </a>
    </li>
  <% end %>
</ul>
