<div class="tree-node">
  <span class="square">&nbsp;</span>
  <%= if @member.changeset do %>
    <%= render "name_editor.html", changeset: @member.changeset %>
  <% else %>
    <%= @member.name %>
    <span class="command-button" phx-click="edit_node" phx-value="<%= @member.uuid %>">
      <%= fa_icon("edit") %>
    </span>
  <% end %>
</div>
