<div class="tree-node">
  <span class="square">&nbsp;</span>
  <%= if @member.getting_destroyed do %>
    <del><%= @member.name %></del>
  <% else %>
    <%= render_node(@member) %>
  <% end %>
</div>
