<del><%= @node.name %></del>
<button type="button" phx-click="destroy_node" phx-value-uuid="<%= @node.uuid %>" class="danger">
  Destroy
</button>
<button type="button" phx-click="toggle_node_in_trash" phx-value-uuid="<%= @node.uuid %>" class="cancel">
  Cancel
</button>
