<%= @node.name %>
<a href="#" class="command-button" phx-click="edit_node" phx-value-uuid="<%= @node.uuid %>">
  <%= fa_icon("edit") %>
</a>
<a href="#" class="command-button" phx-click="toggle_node_in_trash" phx-value-uuid="<%= @node.uuid %>">
  <%= fa_icon("trash-alt") %>
</a>
