<h2>Organization tree</h2>

<div class="tree-node">
  <span class="toggler" phx-click="toggle_group_expanded" phx-value="<%= @root.uuid %>">
    <%= if @root.expanded, do: fa_icon("angle-down"), else: fa_icon("angle-right") %>
  </span>
  <%= if @root.expanded do %>
    <%= for group <- @root.groups do %>
      <%= render "group.html", group: group %>
    <% end %>
    <%= for member <- @root.members do %>
      <%= render "member.html", member: member %>
    <% end %>
  <% end %>
</div>
