<%
  team = Enum.find(@state.teams, fn t -> t.id == @state.selected_team_id end)
%>
<hr>

<%=
  if team.being_edited do
    render("team_name_editor.html", team: team)
  else
    render("team_name.html", team: team)
  end
%>
