<hr>

<%=
  if @team_editor.activated do
    render("team_name_editor.html", assigns)
  else
    render("team_name.html", assigns)
  end
%>

<%= render("organization_tree.html", root: @team_editor.tree_editor) %>
